{{ $md := .Site.Params.body_is_markdown | default false }}

{{ with .Site.Params.three_two }}
{{ if .enable }}
<section id="three-two" class="wrapper style32 special">
   <div class="inner">

      <header class="major">
         <h2>{{ .title | safeHTML }}</h2>
         {{ partial "body_text.html" (dict "context" . "md" $md) }}
      </header>

      <ul class="features">
         {{ range .feature }}
         <li class="icon {{ .icon }}">
            <h3>{{ .title | safeHTML }}</h3>
            <div class="three-two-image-div"><img class="three-two-image" src="{{ .img | relURL }}" alt="" />
            </div>

            <div class="three-two-button-div">
               {{if .btn1_title}}
               <a href="{{ .btn1_link | relURL }}">
                  <button>{{ .btn1_title | safeHTML }}</button>
               </a>
               {{end}}
               {{if .btn2_title}}
               <a href="{{ .btn2_link | relURL }}">
                  <button>{{ .btn2_title | safeHTML }}</button>
               </a>
               {{end}}
            </div>

            <p>{{ .body | safeHTML }}</p>
         </li>
         {{ end }}
      </ul>
   </div>
</section>
{{ end }}
{{ end }}