* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


h1 {
    color: var(--main);
}

.kv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.kv .item h1 {
    /*    background-color: rgb(0, 0, 0, 0.3);*/
    background-color: rgb(200, 200, 200, 0.5);
    border-radius: 5px;
    padding: 0px 20px;
    color: red;
    font-size: 70px;
    margin-top: 90px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(140, 74, 93, 0.7);
}


.item-img {
    margin-top: 30px;
}

.kv .item-img img {
    border-radius: 50%;
    /*    height: 80%;*/
}




.competitive-title {
    padding-top: 110px;
    text-align: center;
    color: black;
}



.competitive-program {
    width: 70%;
    margin: 0px auto;
    padding: 50px 0px;
    margin-bottom: 100px;

}

.competitive-subject1 {
    font-size: 40px;
    color: black;
}

.competitive-subject2 {
    font-size: 40px;
    color: black;
}

.competitive-subject3 {
    font-size: 40px;
    color: black;
}

.competitive-program img {
    display: block;
    margin: auto auto;
    border: 2px solid black;
    width: 70%;
}

.competitive-content1 {
    font-size: 30px;
}

.competitive-content2 {
    font-size: 30px;
}

.competitive-content3 {
    font-size: 30px;
}


.card-introduction {
    padding-top: 100px;
}

.card-title-name {
    text-align: center;
    color: black;
}

.card-title {
    font-size: 20px;
    text-align: center;
    color: black;
}

.card-myself {
    background-color: rgba(240, 174, 193, 0.7);
    box-shadow: 5px 5px 5px rgba(140, 74, 93, 0.7);
    position: relative;

}

.card-myself:hover {
    background-color: aquamarine;
}



.grade-title {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: black;
}

.card-img-top {
    border: 1px solid black;
    border-radius: 50%;

}

.carousel-inner {
    height: 50vh;


}

.carousel-item > img {
    height: 100vh;
    object-fit: cover;
}

.navbar,
.navbar-brand {
    font-size: 2vh;
}



.end {
    padding-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

li {
    text-align: center;
}

ul {
    width: 80%;
}

.ulist {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 3%;
}

h1 {
    color: rgb(146, 204, 243);
    text-shadow: 0 0 10px white;
}

.text-center {
    color: rgb(48, 48, 48);
}

.caption {
    font-size: 20px;
    text-decoration: none;
    margin: 0 30px;
    margin-bottom: 30px;

}



.carousel-caption {
    background-color: rgba(184, 184, 184, 0.9);

}

.grade-items {
    display: flex;
    justify-content: center;

}

.grade-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    margin: 30px 30px;
    text-align: center;
    justify-content: space-around;
    background-color: rgba(240, 174, 193, 0.7);
    box-shadow: 5px 5px 5px rgba(140, 74, 93, 0.7);
    opacity: 0.9;


    /*    border-top: 50px solid transparent;*/
    /*    border-left: 184px solid #fff;*/
    /*    border-right: 184px solid #fff;*/
}



.grade-subject {
    font-size: 25px;
    color: black;
    word-wrap: normal;
}

.grade-content {
    font-size: 60px;
}



.b {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.picture {
    width: 40%;
    height: 100%;
    margin: 0px 10px;
}

.text {
    background-color: #F5F5F5;
    display: flex;
    width: 40%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 10px;
    margin: 0px 10px;
    background-color: rgba(240, 174, 193, 0.7);

    box-shadow: 5px 5px 5px rgba(140, 74, 93, 0.7);
}

#pc1 {
    background-image: url(pixdownload.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;

}

#pc2 {
    background-image: url(invasion.png);
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

#pc3 {
    background-image: url(visual_novel.JPG);
    background-position: center;
    background-size: cover;

    border: 2px solid black;
}

.title {
    margin: 30px;
}

.coverImg {
    object-fit: contain;
}

.space1 {
    height: 30px;
}

.nav-item {
    margin: 0px 10px;
    border-radius: 10px;
}


.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cplusplus {
    display: block;
    margin: 0px auto;
    width: 50%;
    height: 30%;
}

body {
    background: linear-gradient(20deg, #BD0F53, #F9C9D9) fixed center center / 100% 100%;
}

.grade-item img {
    /*    border: 2px solid red;*/
    height: 100px;
}

.container-card {
    width: 900px;
    margin: 0px auto;
}

a {
    text-decoration: none;
}

.btn-myself {
    display: inline-block;

}
